
Module_4/4.5_ETL_subsystem/Wiley Pentaho Kettle Solutions, Building Open Source ETL Solutions with Pentaho Data Integration (2010).pdf
Module_4/4.5_ETL_subsystem/Pentaho Data Integration Beginner's Guide, Second Edition.pdf
